package $package;

import org.jailsframework.database.migration.Migration;

public class $migrationFileNameWithTimeStamp extends Migration {

    private final Long version = $version;

    public void up() {
        addAction("");
    }

    public void down() {
        addAction("");
    }

    public Long getVersion() {
        return version;
    }
}