package $package;

import org.jailsframework.database.IDBMigrations;

public class $migrationFileName implements IDBMigrations {

    public void up() {

    }

    public void down() {

    }

}