package $package;

import org.jailsframework.database.migration.Migration;

public class $migrationFileName extends Migration {

    private final Long version = $version;

    public void up() {

    }

    public void down() {

    }

    public Long getVersion() {
        return version;
    }
}